{% extends 'base.html.twig' %}

{% block title %}Cheque{% endblock %}

{% block body %}
    <h1>Cheque</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cheque.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ cheque.date ? cheque.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Shop</th>
                <td>{{ cheque.shop }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_cheque_index') }}">back to list</a>

    <a href="{{ path('app_cheque_edit', {'id': cheque.id}) }}">edit</a>

    {{ include('cheque/_delete_form.html.twig') }}
{% endblock %}
