{% extends 'base.html.twig' %}

{% block title %}Guest{% endblock %}

{% block body %}
    <h1>Guest</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ guest.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ guest.name }}</td>
            </tr>
            <tr>
                <th>TelephoneNumber</th>
                <td>{{ guest.telephoneNumber }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_guest_index') }}">back to list</a>

    <a href="{{ path('app_guest_edit', {'id': guest.id}) }}">edit</a>

    {{ include('guest/_delete_form.html.twig') }}
{% endblock %}
