{% extends 'base.html.twig' %}

{% block title %}Place{% endblock %}

{% block body %}
    <h1>Place</h1>
<!-- Вот это надо сделать кнопками и что бы можно было тут бронировать, та самая схема трибун
 Занятые красным кнопки выделять, не занятые надо выделять зеленым, <Свободно place.status Yes> <Занято place.status No>
 в Идеале на кнопках номер писать и если начинается на А первый ряд если B второй но это не обязательно-->
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ place.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ place.status ? 'Yes' : 'No' }}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('app_place_index') }}">back to list</a>

    <a href="{{ path('app_place_edit', {'id': place.id}) }}">edit</a>

    {{ include('place/_delete_form.html.twig') }}
{% endblock %}
