<form method="post" action="{{ path('app_tribune_delete', {'id': tribune.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tribune.id) }}">
    <button class="btn">Delete</button>
</form>
