{% extends 'base.html.twig' %}

{% block title %}Edit Tribune{% endblock %}

{% block body %}
    <h1>Edit Tribune</h1>

    {{ include('tribune/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tribune_index') }}">back to list</a>

    {{ include('tribune/_delete_form.html.twig') }}
{% endblock %}
