{% extends 'base.html.twig' %}

{% block title %}New Tribune{% endblock %}

{% block body %}
    <h1>Create new Tribune</h1>

    {{ include('tribune/_form.html.twig') }}

    <a href="{{ path('app_tribune_index') }}">back to list</a>
{% endblock %}
