{% extends 'base.html.twig' %}

{% block title %}Tribune{% endblock %}

{% block body %}
    <h1>Tribune</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tribune.id }}</td>
            </tr>
            <tr>
                <th>NameTribune</th>
                <td>{{ tribune.nameTribune }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tribune_index') }}">back to list</a>

    <a href="{{ path('app_tribune_edit', {'id': tribune.id}) }}">edit</a>

    {{ include('tribune/_delete_form.html.twig') }}
{% endblock %}
