{% extends 'base.html.twig' %}

{% block title %}Бронирование{% endblock %}

{% block body %}
    <h1>Бронь</h1>

    <tbody>
     {% for place in places %}
        <tr>
            <td>{{place.status}}</td>
            <td>{{place.name}}</td>
            <td>{{place.id}}</td>
        </tr>
    {% endfor %}
    </tbody>

    <a href="{{ path('app_party_new') }}">Create new</a>
{% endblock %}
