{% extends 'base.html.twig' %}

{% block title %}Party index{% endblock %}

{% block body %}
    <h1>Party index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date</th>
                <th>Location</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for party in parties %}
            <tr>
                <td>{{ party.id }}</td>
                <td>{{ party.name }}</td>
                <td>{{ party.date ? party.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ party.location }}</td>
                <td>
                <td>
                    <a href="{{ path('app_party_show', {'id': party.id}) }}">show</a>
                    <a href="{{ path('app_party_edit', {'id': party.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_party_new') }}">Create new</a>
{% endblock %}
