{% extends 'base.html.twig' %}

{% block title %}Party{% endblock %}

{% block body %}
    <h1>Party</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ party.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ party.name }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ party.date ? party.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ party.location }}</td>
            </tr>
            <tr>
                <th>Tribune</th>
                <td>{{ party.partysOnTribune }} </td>
            </tr>

        </tbody>
    </table>
    <table>
        <th>Places</th>
        <tr>
            {% for place in party.partysOnTribune.places %}
                <button>
                    <a href="{{ path('app_place_switch_status',{'idplace': place.id,'idparty': party.id}) }}">{{ place }} </a>
                </button>
            {% endfor %}
        </tr>
    </table>

    <a href="{{ path('app_party_index') }}">back to list</a>



    <a href="{{ path('app_party_edit', {'id': party.id}) }}">edit</a>

    {{ include('party/_delete_form.html.twig') }}
{% endblock %}
